<form
  class="feedback-form mt-5 d-flex flex-column justify-content-center align-items-center"
  autocomplete="off"
>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email</label>
    <input
      type="email"
      name="email"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
      autofocus
    />
  </div>

  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
    <textarea
      name="message"
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="8"
    ></textarea>
  </div>
  <button class="btn btn-secondary w-100" type="submit">Submit</button>
</form>
